<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="background-color: aquamarine">
      <% for( const art of allArticle ) { %>
      <div style="background-color:blanchedalmond">
        <h1>title : <%= art.title %></h1>
        <h1>body : <%= art.body %></h1>
        <h1>Number of Likes : <%= art.numberOfLikes %></h1>
      </div>

      <% } %>
    </div>
  </body>
</html>
